{{bold}}Title:{{reset}} {{white}}#{{number}} {{title}}{{reset}}

{{bold}}Description:{{reset}}
{{body}}

{{bold}}Status:{{reset}}  {{green}}{{state}}{{reset}}

{{bold}}Created:{{reset}} {{created_at}}
{{bold}}Updated:{{reset}} {{updated_at}}
{{bold}}Closed:{{reset}}  {{closed_at}}

{{bold}}Labels:{{reset}}  {{yellow}}{{labels}}{{reset}}
{{bold}}Votes:{{reset}}   {{votes}}
