{{#repository}}
{{bold}}Name:{{reset}}         {{magenta}}{{owner}}{{reset}}/{{white}}{{name}}{{reset}}
{{bold}}Is a fork:{{reset}}    {{yellow}}{{fork}}{{reset}}
{{bold}}URL:{{reset}}          {{blue}}{{url}}{{reset}}
{{bold}}Homepage:{{reset}}     {{blue}}{{homepage}}{{reset}}
{{bold}}Description:{{reset}}  {{description}}{{reset}}
{{bold}}Open Issues:{{reset}}  {{red}}{{open_issues}}{{reset}}
{{bold}}Forks:{{reset}}        {{green}}{{forks}}{{reset}}
{{bold}}Watchers:{{reset}}     {{watchers}}{{reset}}
{{/repository}}
