{{bold}}User:{{reset}}          {{magenta}}{{login}}{{reset}}
{{bold}}Id:{{reset}}            {{id}}{{reset}}
{{bold}}Name:{{reset}}          {{white}}{{name}}{{reset}}
{{bold}}Company:{{reset}}       {{company}}{{reset}}
{{bold}}Member since:{{reset}}  {{created_at}}{{reset}}
{{bold}}Following:{{reset}}     {{yellow}}{{following_count}}{{reset}}
{{bold}}Followers:{{reset}}     {{yellow}}{{followers_count}}{{reset}}
{{bold}}Website:{{reset}}       {{blue}}{{blog}}{{reset}}
{{bold}}Email:{{reset}}         {{green}}{{email}}{{reset}}
{{bold}}Location:{{reset}}      {{location}}{{reset}}
{{bold}}Gists:{{reset}}         {{yellow}}{{public_gist_count}}{{reset}}
{{bold}}Repos:{{reset}}         {{yellow}}{{public_repo_count}}{{reset}}
