{{#repositories}}
{{magenta}}{{owner}}{{reset}}/{{white}}{{name}} {{blue}}{{url}}
{{reset}}    {{description}}
{{!reset} }Last pushed: {{blue} }{{pushed} }         {{reset} }F {{yellow} }{{forks} } {{reset} }W {{red} }{{watchers}}
{{/repositories}}
